﻿<div class="col-md-6">
    <h4 class="mb-4">Rəy bildirin</h4>
    <small>Rəyinizin görünməsi üçün email adresinizi doğru qeyd edin *</small>
    <div class="d-flex my-3">
        <p class="mb-0 mr-2">Məhsulu Dəyərləndirin * :</p>
        <div class="text-primary">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <form method="post" asp-action="AddComment" asp-controller="ProductList">
        <div class="form-group">
            <label for="name">Ad və Soyadınız *</label>
            <input type="text" class="form-control" id="name" name="NameSurname">
        </div>
        <div class="form-group">
            <label for="email">Email Adresiniz *</label>
            <input type="email" class="form-control" id="email" name="Email">
        </div>
        <div class="form-group">
            <label for="message">Rəyiniz *</label>
            <textarea id="message" cols="30" rows="5" class="form-control" name="CommentDetail"></textarea>
        </div>
        <div class="form-group mb-0">
            <input type="submit" value="Rəy Bildir" class="btn btn-primary px-3">
        </div>
    </form>
</div>