﻿<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>MultiShop Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menyu</li>
            <li><a href="https://fontawesome.com/v4/icons/"> <i class="fa fa-certificate"></i><span>Font Awesome</span></a></li>
            <li> <a href="/Admin/Category/Index/"> <i class="fa fa-th"></i> <span>Kateqoriyalar</span></a> </li>
            <li> <a href="/Admin/Product/ProductListWithCategory/"> <i class="fa fa-car"></i> <span>Məhsullar</span></a> </li>
            <li> <a href="/Default/Index/"> <i class="fa fa-map-pin"></i> <span>Sayta Get</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index/"> <i class="fa fa-cubes"></i> <span>Xüsusi Təkliflər</span></a></li>
            <li> <a href="/Admin/FeatureSlider/Index/"> <i class="fa fa-picture-o"></i> <span>Slider Paneli</span></a></li>
            <li> <a href="/Admin/Feature/Index/"> <i class="fa fa-anchor"></i> <span>Önə Çıxan Sahə</span></a></li>
            <li> <a href="/Admin/OfferDiscount/Index/"> <i class="fa fa-coffee"></i> <span>Endirim Təklifləri</span></a></li>
            <li> <a href="/Admin/Brand/Index/"> <i class="fa fa-university"></i> <span>Markalar</span></a></li>
            <li> <a href="/Admin/About/Index/"> <i class="fa fa-info"></i> <span>Haqqımızda</span></a></li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>