@model CreateFeatureSliderDto

@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Önə Çıxan Şəkil Əlavə Etmə Səhifəsi</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Şəkil Başlığı</label>
                        <input type="type" class="form-control" asp-for="Title" />
                        <br />
                        <label>Şəkil Təsviri</label>
                        <input type="type" class="form-control" asp-for="Description" />
                        <br />
                        <label>Şəkil Linki</label>
                        <input type="type" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Şəkil Əlavə Et</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>